
.nav-items{
  width: 80%;
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 4;
  height: 100vh;
  display: none;
  flex-direction: column;
  background: #262525;
  color: #fff;
  font-family: sans-serif;

}

.nav-items li{
  list-style: none;
}
.logo_and_close {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  border-bottom:.4px solid #555252; 
}

.nav-items .close{
  height: 13px;
  margin: 10px;
  justify-self: start;
}
.nav-items .logo{
  width: 100px;
  height: 35px;
  justify-self: end;
}

.nav-link{
  margin-top:2rem; 
  border-bottom:.4px solid #555252; 
  padding-bottom: 1rem;
}
.nav-link img{
  height: auto;
  padding-left: 6px;
  width: 22px;
}
.nav-link li{
  padding: 7px 5px;
}

.nav-link li a{
  color: #fff;
  font-size: 16px;
}

.nav-items .add-to-home-screen{
  background: #fff;
  color: #000;
  padding: .5rem;
  font-family: roboto;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 1rem;
}

.nav-items .add-to-home-screen button{
  text-align: left;;
  float: left;
  background: #3981FF;
  border:none;
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  font-size: 15px;
}


.share-to-soulmedia img{
  height: auto;
}
.share-to-soulmedia {
  display: inherit;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  padding-left: 5px;
}
.share-to-soulmedia li{
  padding-left: 5px;
}


/* drak mood togale */

.dark-mood{
  padding:0 .3rem;
}
.dark-mood-text{
  text-align: right;
  margin: 5px 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 13px;
  float: left;
  margin-top: .5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch p{
  text-align: right;
  padding: 7px 3px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -1px;
  bottom: -3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}