:root{
    --primary-color-opaque: rgb(253, 193, 27);
    --blue:#0F47AF;

}
*{
    margin: 0;
    padding:0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
    height: 1700px;

}

a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Tajawal', sans-serif;
    color: black;

}

p{
    /* font-size: 18px; */
    /* font-family: 'Scheherazade', serif; */
    line-height: 24px;


    
}
header{
    width: 100%;
    height: 47px;
    background:#6B6565;
    position: fixed;
    top: 0;
    z-index: 1;
}

header > nav{
    text-align: center;
    padding-top: 14px;
}
header > nav > a{
color: #ffffff;
text-decoration: none;
font-size: 16px;
padding: 17px;
}

/*************************/


main{
    margin-top: 20px;
}

main > .link2{
    margin-top: 48px;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    padding: 12px;
    position: sticky;
    top:44px;
    z-index: 1;
    background: #ffffff;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}


main .link2 > span:hover{
    background:var(--blue);
    color: white;
}


main > .link2 > span{
    background:#DDDDDD ;
    border-radius: 50px;
    margin: 0 6px;
    padding:6px 9px;
    font-weight: 300;
}


main > .link2 > span> a{
    text-decoration: none;
}



/***************************/

main > article{
    text-align: right;
    margin-top: 20px;
    height: 100%;
}

article{
    position: relative;
    
}
article::before{
    content: '';
    width: 3px;
    height: 100%;
    position: absolute;
    right:15px;
    top: 1px;
    border: 2px solid #6B6565;
    background: #6B6565;
    
}

.events{
    position:relative ;
    margin-top: 35px;
    padding-right: 55px;
}

.events .time{
    padding-right: 4px;
}

/*
.events > .time span {
    background-image: linear-gradient(120deg, 
    var(    --primary-color-opaque ) 0%,
    var(    --primary-color-opaque ) 100%);
    background-repeat: no-repeat;
    background-size: 90% 0.25rem;
    background-position: 4px 75%;
    padding: 2px 5px;
    font-style: italic;
}
*/

.events::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border: 2px solid #6B6565;
    background: #6B6565;
    border-radius: 50%;
    right: 7px;
    top: 0px;


}

.events h2{
    margin-top: 20px;
    border-bottom:7px rgb(90, 241, 97) solid ;
    display: inline-block;
}

.events p{
    text-align: right;
    padding-left: 2.5em;
    margin: 10px 0px;
}
/*.events  p::before{
    content: '';
    width: 15px;
    height: 5px;
    position: absolute;
    order: 2px solid #6B6565;
    background: #6B6565;
    right: 30px;
    border: none;
    margin: 11px;
}*/

.events button{
    margin-top: 10px;
    height: 30px;
    padding:0px 15px;
    border-radius: 20px;

}



/***************
respansive for decktop screen 
*********************/

@media only screen and (min-width: 900px){
    main {
        text-align: center;
    }
    article{
        width: 700px;
        margin: 0 auto;
    }
    p{
        font-size: 23px;
        font-weight: bold;
    }
}

/********************
mobile screen
********************/

@media only screen and (max-width: 500px){
    p{
        text-align: center;
        /* font-size: 20px; */
        /* font-weight: bold; */
        box-sizing: content-box;
        /* word-spacing: 2px; */
        margin: 18px;

    }
    

    header nav a {
        font-size: 14px;
    }

    article::before{
        width: 1.9px;
        border:1.9px;
    }

    .events::before{
        width: 10px;
        height: 10px;
        right: 9px;
    }
}